<!DOCTYPE html>
<html>
<body>
    <h1>나의 맛집 찾기</h1>

    <form action="/searchRestaurant" method="post">
        <p>
        <br>
            <b>맛집이름:</b>
            <input id="restaurant_name" type="text" name="restaurant_name" value="" />
            <input type="submit" name="confirm" value="확인"><br/>
        </p>

        <br>

        <div>
            {% for row in data %}
                    <a href="/customerinfo?rName={{row[0]}}&rTel={{row[1]}}">{{row[0]}}</a>
                    {{row[1]}}
                    <input type="button" value="waiting 목록" onClick="watingList('{{row[0]}}');">
                <br>
                {% endfor %}
        </div>
        <br>
        
    </form>

    <script>
        function watingList(rName) {
            document.location="/waitingListForCustomer?rName="+rName;
        }
    </script>
</body>
</html>